av
include
lib
bin/__pycache__
bin/simp_project
bin/simp_project/manage.py
bin/simp_project/simp_project/__pycache__
bin/simp_project/simp_project/__init__.py
bin/simp_project/simp_project/first/migrations
bin/simp_project/simp_project/first/__pycache__
bin/simp_project/simp_project/first/__pycache__/__init__.py
activate
activate.csh
activate.fish
activate.ps1
activate.xsh
activate_this.py
django-admin
django-admin.py
easy_install
easy_install-3.6
pip
pip3
pip3.6
python
python3
python3.6
python-config
sqlformat
wheel

