av
include
lib
bin/__pycache__
bin/simp_project
bin/simp_project/manage.py
bin/simp_project/simp_project/__pycache__
bin/simp_project/simp_project/__init__.py
bin/simp_project/simp_project/first/migrations
bin/simp_project/simp_project/first/__pycache__
bin/simp_project/simp_project/first/__pycache__/__init__.py
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate.ps1
bin/activate.xsh
bin/activate_this.py
bin/django-admin
bin/django-admin.py
bin/easy_install
bin/easy_install-3.6
bin/pip
bin/pip3
bin/pip3.6
bin/python
bin/python3
bin/python3.6
bin/python-config
bin/sqlformat
bin/wheel

